apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: default
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
      external_labels:
        monitor: 'flask-api-monitor'

    scrape_configs:
      - job_name: 'flask-api'
        static_configs:
          - targets: ['flask-library-app-service:80']
        metrics_path: '/metrics'
        scrape_interval: 5s

